<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../components/responsive.ejs'); %>
    <main id="swup" class="transition-fade">
    <%- include('../blocks/dashboard'); %>
    <%- include('../partials/blobs', { pages : 'game' }); %>
</main>

<%- include('../partials/import-js'); %>
</body>
</html>
