<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../components/responsive.ejs'); %>
    <main id="swup" class="transition-fade"  data-path="<%= theme ? theme.pathImgs : '' %>">
        <%- include('../partials/popup'); %>
        <%- include('../blocks/result-theme'); %>
        <%- include('../partials/blobs', { pages : 'result-theme' }); %>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
