<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../components/responsive.ejs'); %>
    <main id="swup">
        <%- include('../partials/popup'); %>
        <div class="room-page container container--ultra container--between">
            <div class="js-split-text split-text split-text--title">Tout le monde est connecté ?</div>
            <%- include('../blocks/room'); %>
            <%- include('../components/button', { buttonLink : '/views/pages/scan.ejs', buttonText : "SCANNER", buttonClass : "button--blue" }); %>
        </div>

        <%- include('../partials/blobs', { pages : 'room' }); %>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
