<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main id="swup" class="transition-fade">
        <%- include('../partials/popup'); %>
        <div class="room-page container container--ultra container--between">
            <p>Tout le monde est connecté ?</p>
            <%- include('../blocks/room'); %>
            <%- include('../components/button', { buttonLink : '/views/pages/scan.ejs', buttonText : "SCANNER", buttonClass : "js-scan-button button--blue" }); %>

            <div class="room-page__img">
                <%- include('../../assets/images/room/bg.svg'); %>
            </div>
        </div>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
