<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main id="swup" class="transition-fade" data-path="<%= theme ? theme.pathImgs : '' %>">
        <%- include('../blocks/theme'); %>
        <%- include('../partials/blobs', { pages : 'theme' }); %>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
