<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../components/responsive.ejs'); %>
    <main id="swup" class="transition-fade">
        <%- include('../partials/popup'); %>
        <%- include('../blocks/winner'); %>
        <%- include('../partials/blobs', { pages : 'winner' }); %>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
